
body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}
.service-bg-1{
    background-image: url(img/car1.jpg);
}.service-bg-2{
    background-image: url(img/img-2.jpg);
}.service-bg-3{
    background-image: url(img/img-3.jpg);
}.service-bg-4{
    background-image: url(img/img1.jpg);
}


/*========================   Nav manu ==================*/

.section-padding {
  padding: 80px 0;
}
.single-sercive-box {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.box-btn {
  background: #ffce40;
  color: #333;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
    transition: .2s;
}
.service-hover h3 {
  font-size: 19px;
  margin-bottom: 20px;
  font-weight: 400;
}
.service-hover {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  transition: .2s;
}
.single-sercive-box:hover .service-hover{
    bottom: 30px;
}
.single-sercive-box:hover .box-btn{
    opacity: 1;
    visibility: visible;       
}
.single-sercive-box::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  content: "";
  z-index: -1;
  opacity: .5;
}



